IBM_API_KEY=TCYyX5dYJl56uC-BTeIQzTPvvIPzfqUTnPdnXQoy-MsT
IBM_PROJECT_ID=your_watsonx_project_id
IBM_MODEL_ID=ibm/granite-13b-chat-v2
IBM_WATSONX_URL=https://us-south.ml.cloud.ibm.com
SECRET_KEY=smart-farming-secret
